#app {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

}


.todo {
  height: fit-content;
  width: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  margin-top: 16px;
}

.todo-task {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 8px;
  background-color: rgb(221, 221, 221);
  margin-top: 8px;
  border-radius: 8px;
  word-wrap: break-word;
}

.todo-list {
  /* height: 80%; */
  width: 100%;

  margin-top: 16px;
  display: flex;
  align-items: center;
  
  flex-direction: column;

}

.remove-task {
  width: 80px;
  height: 24px;
}

p {
  /* text-wrap: ; */
  white-space: normal;
  margin: 4px;
  width: fit-content;
  hyphens: auto;
  word-break: break-word;

}

.done {
  background-color: green;
}

button {
  padding: 4px;
  border-radius: 4px;
}

.buttons {
  display: flex;
  align-self: flex-start;
  gap: 8px;
}

.input-field {
  height: 24px;
  width: 320px;
  border-radius: 8px;
}

.submit-btn {
  font-size: 20px;
  padding: 2px 12px 2px 12px;
  border-radius: 8px;
  background-color: #00abe3;
}